.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Exclude written content
/src/content/
# WYSIWYG Editor
wysiwyg-app/.env
wysiwyg-app/node_modules/
wysiwyg-app/.svelte-kit/
wysiwyg-app/build/
wysiwyg-app/dev.log
