node_modules
npm-debug.log
.svelte-kit
build
.env
.env.*
!.env.example
.DS_Store
*.log
.vscode
.idea
*.swp
*.swo
*~
.git
.gitignore
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.prettierignore
Dockerfile
.dockerignore
docker-compose*.yml